# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Backup or temporary files
*.bak
*.swp
*.tmp
.bib_cursor
*.clax

# IDE / editor folders
.vscode/
.idea/

